<div class="wrapper wrapper-content animated fadeIn" ng-controller="dashboardUserCtrl as chart" data-ng-init="chart.mockDados()">

    <div class="p-w-md m-t-sm">
        <div class="row">
        <div class="col-md-6">

            <div class="profile-image">
                <img ng-src="{{mockDados.photo_url}}" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            <span ng-bind="mockDados.name"></span>
                        </h2>
                        <span ng-bind="mockDados.job"></span> -  <span ng-bind="mockDados.company"></span>
                        <h5 ng-bind="mockDados.email"></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Soluções cadastradas</h5>
                        <h1 class="no-margins" ng-bind="mockDados.projects.length"></h1>
                        <small>Total</small>
                     </div>
                </div>
            </div>                
            <div class="col-lg-3">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Cliques na solução</h5>
                        <h1 class="no-margins" ng-bind="mockDados.todayclicks"></h1>
                        <small>Hoje</small>
                     </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Comentários na solução</h5>
                        <h1 class="no-margins" ng-bind="mockDados.todaycomments"></h1>
                        <small>Hoje</small>
                     </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Soluções não aprovadas</h5>
                        <h1 class="no-margins" ng-bind="mockDados.noaproved"></h1>
                        <small>Total</small>
                     </div>
                </div>
            </div>                                    
        </div>    
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-content">

                    <div class="flot-chart">
                        <div flot class="flot-chart-content" dataset="flotData" options="options"></div>
                    </div>
                </div>
            </div>           
        </div>


        <div class="row">
            <div class="col-lg-12">
            <div class="ibox">
            <div class="ibox-title">
                <h5>Todos os projetos desse usuário</h5>

                <div class="ibox-tools">
                    <a href="" class="btn btn-primary btn-xs">Criar novo projeto</a>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-1">
                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Atualizar</button>
                </div>
                <div class="col-md-11">
                    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-primary"> Ir!</button> </span></div>
                </div>
            </div>            



                    <div class="ibox-content">

                        <div class="project-list">
                            <table class="table table-hover project-table" ng-repeat="jobs in mockDados.projects">

                                <tbody>
                                <tr>
                                    <td class="project-status project-table">
                                        <span class="label label-primary">{{jobs.status}}</span>
                                    </td>                                             
                                    <td class="project-title project-table">
                                        <a ui-sref="project_detail">{{jobs.name}}</a>
                                        <br>
                                        <small>Criado em: {{jobs.date}}</small>
                                    </td>
                                    <td class="project-title project-table">
                                        <a ui-sref="project_detail">Cliques</a>
                                        <br>
                                        <small>{{jobs.clicks}}</small>
                                    </td>
                                    <td class="project-title project-table">
                                        <a ui-sref="project_detail">Comentários</a>
                                        <br>
                                        <small>{{jobs.commentary}}</small>
                                    </td>
                                    <td class="project-people project-table"">
                                        <a href=""><img alt="image" class="img-circle" ng-src="{{jobs.photourl}}"></a>
                                    </td>                                                                     
                                    <td class="project-actions">
                                        <a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Ver </a>
                                        <a href="" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Editar </a>
                                    </td>
                                </tr>                                
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
