<div class="wrapper wrapper-content animated fadeIn" ng-controller="dashboardSuperAdminCtrl as chart" data-ng-init="chart.mockSuperAdmin()">

    <div class="p-w-md m-t-sm">
        <div class="row">
            <div class="col-md-12">
            <div class="col-lg-3">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Quantidade de acessos no site</h5>
                        <h1 class="no-margins" ng-bind="mockAdmin.projects.length"></h1>
                        <small>Mensal</small>
                     </div>
                </div>
            </div>                
            <div class="col-lg-3">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Quantidade de Soluções</h5>
                        <h1 class="no-margins" ng-bind="mockAdmin.todayclicks"></h1>
                        <small>Total</small>
                     </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Quantidade de Empreendedores</h5>
                        <h1 class="no-margins" ng-bind="mockAdmin.todaycomments"></h1>
                        <small>Total</small>
                     </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Quantidade de empresas</h5>
                        <h1 class="no-margins" ng-bind="mockAdmin.noaproved"></h1>
                        <small>Total</small>
                     </div>
                </div>
            </div>             
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Pessoas Online</h5>
                        <h1 class="no-margins" ng-bind="mockAdmin.projects.length"></h1>
                        <small>Total</small>
                     </div>
                </div>
            </div>                
            <div class="col-lg-4">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Quantidade de glossário</h5>
                        <h1 class="no-margins" ng-bind="mockAdmin.todayclicks"></h1>
                        <small>Total</small>
                     </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox">
                     <div class="ibox-content">
                        <h5>Quantidade de soluções inativas</h5>
                        <h1 class="no-margins" ng-bind="mockAdmin.todaycomments"></h1>
                        <small>Total</small>
                     </div>
                </div>
            </div>                    
        </div>    
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-content">

                    <div class="flot-chart">
                        <div flot class="flot-chart-content" dataset="flotData" options="options"></div>
                    </div>
                </div>
            </div>           
        </div>


        <div class="row">
            <div class="col-lg-12">
            <div class="ibox">
            <div class="ibox-title">
                <h5>Todos os projetos da plataforma</h5>

            </div>
            <div class="ibox-content">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-1">
                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Atualizar</button>
                </div>
                <div class="col-md-11">
                    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-primary"> Ir!</button> </span></div>
                </div>
            </div>            



                    <div class="ibox-content">

                        <div class="project-list">
                            <table class="table table-hover project-table" ng-repeat="jobs in mockAdmin.projects">

                                <tbody>
                                <tr>
                                    <td class="project-status project-table">
                                        <span class="label label-primary">{{jobs.status}}</span>
                                    </td>                                             
                                    <td class="project-title project-table">
                                        <a ui-sref="project_detail">{{jobs.name}}</a>
                                        <br>
                                        <small>Criado em: {{jobs.date}}</small>
                                    </td>
                                    <td class="project-title project-table">
                                        <a ui-sref="project_detail">Cliques</a>
                                        <br>
                                        <small>{{jobs.clicks}}</small>
                                    </td>
                                    <td class="project-title project-table">
                                        <a ui-sref="project_detail">Comentários</a>
                                        <br>
                                        <small>{{jobs.commentary}}</small>
                                    </td>
                                    <td class="project-people project-table"">
                                        <a href=""><img alt="image" class="img-circle" ng-src="{{jobs.photourl}}"></a>
                                    </td>                                                                     
                                    <td class="project-actions">
                                        <a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Ver </a>
                                        <a href="" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Editar </a>
                                    </td>
                                </tr>                                
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
